.orderItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
 
  p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
